/* app.component.css */

header.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajusta el valor según tus necesidades */
}

header.logo img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: rgb(242, 242, 243);
}
