/* Estilo del contenedor de productos */
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar horizontalmente */
    gap: 16px; /* Espacio entre las tarjetas */
    padding: 16px; /* Espaciado interno */
  }
  
  /* Estilo de cada tarjeta de producto */
  .product-card {
    background-color: rgb(250, 251, 252);
    border: 1px solid #170cbd;
    border-radius: 1rem;
    padding: 16px;
    text-align: center;
    width: calc(50% - 32px); /* La mitad del tamaño con espacio entre tarjetas */
    box-sizing: border-box;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .product-card {
      width: calc(100% - 32px); /* Tamaño completo en pantallas más pequeñas */
    }
  }
  